@font-face{
	font-family: Lato-Bold;
	src:url(fonts/Lato-Bold.woff);
}

@font-face{
	font-family: RobotoSlab-Regular;
	src:url(fonts/RobotoSlab-Regular.woff);
}


/*Topo da página*/
nav.navbar{
	padding: 0;
}

#logo{
	padding: 0;
	margin-left: 43px;
	margin-top: 10px;
}

/*Corpo*/

#corpo{
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}

.primeira_coluna{
	width: 567px;
	margin-right: 0px;
	margin: 0px;
	float: left;
}

.segunda_coluna{
	width: 799px;
	position: absolute;
	margin-left: 567px;
	/*float: left;*/
}

#imagem_bia{
	width: 524px;
	height: 524px;
	margin-top: 150.5px;
	margin-left: 43px;
}

#texto_questionario{
	font-family: RobotoSlab-Regular;
	font-size: 20px;
	color: #727272;
	width: 632px;
	margin-top: 179.03px;
	margin-left: 16px;
	text-align: left;

}

/*Card*/

.card{
	width: 740px;
	height: 221px;
	margin-left: 16px;
}

.titulo_card{
	margin-top: 21px;
	margin-left: 16px;
	margin-bottom: 0px;
	font-family: Lato-Bold;
	font-size: 22px;
	color: #4CB9F6;
}

hr.linha_card{
	width: 707px;
	margin-top: 11px;
	margin-left: 16px;
	margin-bottom: 16px;
}
.p-3{
	padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

/*Checkbox*/

label.corpo_checkbox {
  display: block;
  position: relative;
  padding: 0%;
  padding-left: 89px;
  margin-bottom: 16px;
  cursor: pointer;
  font-family: Lato-Bold;
  font-size: 22px;
  color: #727272;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.corpo_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  margin-left: 16px;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  border: 2px solid #4CB9F6;
  border-radius: 4px;
}

.corpo_checkbox:hover input ~ .checkmark {/*Quando passar o mouse por cima da opção essa cor será exibida*/
  background-color: #ccc;
}

.corpo_checkbox input:checked ~ .checkmark {
  background-color: #4CB9F6;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.corpo_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.corpo_checkbox .checkmark:after {
  left: 11px;
  top: 6px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}