@font-face{
	font-family: Lato-Bold;
	src:url(../fonts/Lato-Bold.woff);
}

@font-face{
	font-family: RobotoSlab-Regular;
	src:url(../fonts/RobotoSlab-Regular.woff);
}


/*Topo da página*/
nav.navbar{
	padding: 0;
}

#logo{
	padding: 0;
	margin-left: 43px;
	margin-top: 10px;
}

/*Corpo*/
#corpo{
	width: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}

/*Card*/
.card{
	width: 1280px;
	height: 622px;
	margin-top: 57px;
	margin-right: 43px;
	margin-left: 43px;
	margin-bottom: 43px;
}

.p-3{
	padding: 0px;
	padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.primeira_coluna{
	width: 436px;
	margin-right: 0px;
	margin: 0px;
	float: left;
}

.segunda_coluna{
	width: 844px;
	position: absolute;
}

#img_contato{
	width: 810.06px;
	height: 542.98px;
	margin-left: 436px;
	margin-top: 38.02px;
	margin-bottom: 41px;
	margin-right: 33.94px;
}

.titulos{
	font-family: Lato-Bold;
	font-size: 20px;
	text-align: left;
	color: #727272;
	margin-left: 108px;
	margin-bottom: 16px; 
}

#sociais_titulo{
	margin-top: 112px;
}

hr.linha_card{
	width: 308px;
	border: 1px solid;
	color: #727272;
	margin-right: 20px;
	margin-left: 108px;
	margin-top: 0px;
	margin-bottom: 16px;
}


.linha_org{
	width: 436px;
}

#instagram{
	margin-bottom: 16px;
}

#facebook{
	margin-bottom: 41px;
}

#site{
	margin-bottom: 41px;
}

.icone{
	float: left;
	margin-left: 108px;
}

.info{
	font-size: 14px;
	color: #4292CC;
	position: relative;
	width: 32px;
	height: 32px;
	vertical-align: middle;
	display: table-cell;
}

.info_text{
	font-family: Lato-Bold;
	margin-bottom: 0px;
	margin-left: 16px;
}